.input-w-prepend-icon {
    width: 100%;
    position: relative;
    &_input {
        padding: 0 60px;
        border-radius: 5px;
        height: 57px; width: 100%;
        border: 1px solid #dbdcdf;
    }
    &_icon {
        position: absolute;
        top: 50%; left: 10px;
        transform: translateY(-50%);
        &--right {
            left: unset;
            right: 10px;
        }
    }
}

.button {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
    &:hover {
        opacity: 0.6;
    }
}

.product {
    position: relative;
    &_name {
        z-index: 10;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
}