a, a:hover {
    color: unset;
    text-decoration: none;
}

html, body {
    font-family: 'AvenirLTStd-Roman' !important;
}

.cursor-pointer {
    cursor: pointer;
}

.base {
    min-height: calc(100vh - #{$footer-height});
    &_body {
        max-width: 650px;
    }
}

.home {
    &_logo {
        object-fit: contain;
        width: 200px; height: 230px;
    }
}

.categories {
    &_logo {
        object-fit: contain;
        width: 300px; height: 80px;
        @include media-breakpoint-down (sm) {
            width: 100%;
        }
    }
    &_search-icon {
        right: 0 !important;
        &, * {
            height: 100%;
        }
        img {
            object-fit: cover;
        }
    }
}

.amount {
    &_item {
        height: 70px;
        @include font-size(30px);
        &_inner {
            &:hover {
                border-radius: 8px;
                border: 3px solid $secondary-color;
            }
        }
    }
}

.form {
    &_label {
        color: $dark-color;
        @include font-size (20px);
        font-family: "AvenirLTStd-Roman";
    }
    &_icon {
        *, & {
            height: 100%;
        }
        img {
            padding: 10px 0;
        }
    }
}

.done {
    &_body {
        max-width: 350px;
    }
}