a, a:hover {
    color: unset;
    text-decoration: none;
}

html, body {
    font-family: 'AvenirLTStd-Roman' !important;
}

.cursor-pointer {
    cursor: pointer;
}

.base {
    min-height: 100vh;
    &_body {
        max-width: 650px;
    }
}

.home {
    &_logo {
        object-fit: contain;
        width: 200px; height: 230px;
    }
}

.categories {
    &_logo {
        object-fit: contain;
        width: 300px; height: 80px;
    }
}

.amount {
    &_item {
        height: 70px;
        @include font-size(30px);
        &_inner {
            &:hover {
                border-radius: 8px;
                border: 3px solid $secondary-color;
            }
        }
    }
}